<!doctype html>
<html lang="en"><head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link href="../../Content/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../Content/npoh-custom.css" rel="stylesheet">
    <link href="../../Content/fontawesome.css" rel="stylesheet">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-20X3Y7EKNB"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

  	gtag('config', 'G-20X3Y7EKNB');
	</script>

    <title>NPOH 2022 | Day 1 | Courses & Career e-talks - School of Life Sciences and Chemical Technology</title>
  </head>
  <body class="sessions">
    <header>
	  <div class="container-xxl text-white">
	    <div class="d-flex justify-content-between align-items-center py-3">
			<a href="day01.html"><img src="../../images/NPOH_logo.png" class="img-fluid py-1" alt="NPOH Logo"></a>
		  <div class="text-center py-1">
		    <h4 class="mb-0 fw-bold">Courses & Career e-talks</h4>
			<h5>Session time: 2PM - 3PM</h5>
		  </div>
		  <a href="https://www.np.edu.sg" target="_blank"><img src="../../images/np-logo.png" class="img-fluid py-1"></a>
		</div>
	  </div>
	</header>
	<main>
	  <div class="container-xxl py-4">
	    <nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="day01.html"><i class="fas fa-arrow-left"></i> Back to Webcast Page</a></li>
		  </ol>
		</nav>

		<ul class="nav nav-tabs nav-fill" id="sessionTabs" role="tablist">
		  <li class="nav-item" role="presentation">
			<a class="nav-link" href="day01-2-3pm-RM1.html" aria-selected="false">School of Health Sciences</a>
		  </li>
		  <li class="nav-item" role="presentation">
			<a class="nav-link" href="day01-2-3pm-RM2.html" aria-selected="false">School of Humanities & Social Sciences</a>
		  </li>
		  <li class="nav-item" role="presentation">
			<a class="nav-link" href="day01-2-3pm-RM3.html" aria-selected="false">School of InfoComm Technology </a>
		  </li>
		  <li class="nav-item" role="presentation">
			<a class="nav-link active" href="#" aria-selected="true">School of Life Sciences and Chemical Technology</a>
		  </li>
		</ul>
		<div class="tab-content" id="sessionTabsContent">
		  <!-- School of Film & Media Studies tab content -->
		  <div class="tab-pane fade show active" id="SFMS" role="tabpanel" aria-labelledby="SFMS-tab">
			<div class="bg-blue p-3 p-lg-5">
		      <p class="fw-bold">You are now watching School of Life Sciences and Chemical Technology...</p>
			  <div class="row mb-4">
			    <div class="col-lg-8">
				  <div class="ratio ratio-16x9">
				    <iframe src="https://vimeo.com/event/1616870/embed" title="School of Business & Accountancy" allowfullscreen></iframe>
				  </div>
			    </div>
			    <div class="col-lg-4">
				  <iframe src="https://app.sli.do/event/ukxo0br7" class="slido"></iframe>
			    </div>
			  </div>
			  <div class="row">
			    <div class="col-md-3 col-lg-2 mb-3">
				  <img src="../../images/logo-SoE.jpg" class="img-fluid">
				</div>
				<div class="col-md-9 col-lg-10">
				  <div class="row">
				    <div class="col-lg-7">
					  <h4 class="fw-bold mb-4">School of Life Sciences and Chemical Technology</h4>
					  <h5 class="fw-bold mb-4">Re-code Your DNA</h5>
					</div>
					<div class="col-lg-5 text-lg-end mb-4">
					  <a href="day01.html" class="btn btn-light shadow fw-bold" style="color:#318ACC">Click here for more programmes <i class="fas fa-arrow-right"></i></a>
					</div>
				  </div>
				  <p>Established in 1989, the School of Life Sciences and Chemical Technology (LSCT) aims to deliver a robust R&D education and training through intensive lab and field-based training, as well as project and workplace learning. Besides igniting your natural curiosity about the world and fuelling your passion for discovery, LSCT also prepares you for exciting careers in science.</p>

                <p>Our five courses are endorsed by industry experts, renowned research institutes and top universities locally and abroad. LSCT also has close links with organisations such as National Parks Board and PUB, Singapore’s National Water Agency. Our strong partnerships will provide you with lots of opportunities to learn in a real-world setting.</p>

                <p>Besides having a strong track record in applied research, LSCT is also known for its expertise in areas such as biocatalysis and fermentation, cancer biology, molecular diagnostics, membrane technology, skyrise greening, agritech and aquaculture, and food technology. LSCT’s edge will give you a head start in pursuing research work in these fields.</p>

                <p>You will gain a global perspective by participating in various overseas internships and immersion programmes to places such as London, Brisbane, Bangkok, Chongqing, Hong Kong, Nanjing, and Shanghai.</p>
				</div>
			  </div>
			</div>
			<div class="bg-orange p-3 p-lg-5 footer">
			  <div class="row">
			    <div class="col-lg-3 mb-3">
				  <div class="d-flex align-items-center">
				    <img src="../../images/icon-chat.png" class="img-fluid me-3">
					<p class="mb-0 fw-bold">We would love to hear from you!</p>
				  </div>
				</div>
				<div class="col-lg-9 disclaimer">
				  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
				  <a href="feedback.html" class="btn btn-light shadow fw-bold" style="color:#A17528">Give Feedback <i class="fas fa-arrow-right"></i></a>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</main>

	<script src="../../Scripts/jquery-3.5.1.min.js"></script>
    <script src="../../Scripts/bootstrap.bundle.min.js"></script>
  </body>
</html>
